<footer class="page-footer text-center font-small wow" style="background-color: #DBAE6E;">

    <hr class="my-4">

    <div class="pb-4 text-dark text-center">
        <div class="row">

            <div class="col">
                <h5>Social Media</h5>
                <div>
                    <a class="p-2" href="#">
                        <i class="text-dark fab fa-brands fa-facebook"></i>
                    </a>
                    <a class="p-2" href="#">
                        <i class="text-dark fab fa-brands fa-twitter"></i>
                    </a>
                    <a class="p-2" href="#">
                        <i class="text-dark fab fa-brands fa-instagram"></i>
                    </a>
                </div>

            </div>

            <div class="col">
                <h5>Location</h5>
                <div>
                    <li class="list-unstyled">Address 1, Skopje</li>
                    <li class="list-unstyled">North Macedonia</li>
                </div>
            </div>

            <div class="col">
                <h5>Contact</h5>
                <div>
                    <li class="list-unstyled">+389 123 123</li>
                    <li class="list-unstyled">
                        <a class="text-dark" href="mailto:petopia@info.com" target="_blank">
                            petopia@info.com
                        </a>
                    </li>
                </div>
            </div>

            <div class="col">
                <h5>About Us</h5>
                <div>
                    <li class="list-unstyled">
                        <a class="text-dark" href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="list-unstyled">
                        <a class="text-dark" href="#">
                            Our Products
                        </a>
                    </li>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-copyright py-3 text-dark">
        © 2023 - Maja Vuevska 203007
    </div>

</footer>