{% extends "base.html" %}

{% block content %}

    <div class="container mt-5 col-10 p-2 text-center">

        <div class="text-left">
            <h3 class="mb-3">Products</h3>
            <div class="mb-5">
                <a href="/">home</a> /
                <span>{{ pet_category.name }} </span>
                <span>{{ category }}</span>
                <span>products</span>
            </div>
        </div>


        <div class="row row-cols-1 mx-auto">
            {% for product in page_obj.object_list %}
                <div class="col">
                    <div class="card mb-3" style="max-width: 350px; border-radius: 15px">
                        <div class="row g-0">
                            <div class="col">
                                <a href="{% url 'PetopiaApp:product' pet_category category product.slug %}">
                                    <img class="img-fluid ml-5" src="{{ MEDIA_URL }}{{ product.image.url }}"
                                         alt="product">
                                </a>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.brand.name }}</h5>
                                    <h6>{{ product.name }}</h6>
                                    <h3 style="color: red">${{ product.price }}</h3>
                                </div>
                            </div>

                        </div>
                        <a class="btn btn-primary btn-md mb-2 mx-auto" href="/add-to-cart/{{ product.slug }}"
                           style="border-radius: 10px">
                            Add to Cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </a>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="text-center mb-3">
            {% if page_obj.has_previous %}
                <a class="btn btn-md" href="?page={{ page_obj.previous_page_number }}"
                   style="border-radius: 15px">
                    <span>{{ page_obj.previous_page_number }}</span>
                </a>
            {% endif %}
            <span class="btn"
                  style="border-radius: 15px; background-color: #DBAE6E">{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a class="btn btn-md" href="?page={{ page_obj.next_page_number }}"
                   style="border-radius: 15px">
                    <span>{{ page_obj.next_page_number }}</span>
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}