{% extends "base.html" %}
{% block content %}
    <div class="container col-4 text-center mb-5">
        <div class="text-left pt-5 mb-5">
            <h1>Add new category</h1>
            <div>
                <a href="{% url 'PetopiaApp:home' %}">home</a> /
                <span>add a new category</span>
            </div>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="margin-bottom: 155px;">Submit</button>
        </form>
    </div>
{% endblock %}